{% extends 'catalog/base.html' %}
{% block content %}

    <div class="container text-primary">
        <div class="row justify-content-md-center">
            <h1>Удалить статью</h1>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="row justify-content-center">
            <form method="POST" , enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <h4><p class="text text-danger"> {{ object }}</h4>
                <br>
                Подтвердите удаление
                <input type="submit" class="btn-danger" value="Подтверждаю">
            </form>
        </div>
    </div>

{% endblock %}
